{%extends 'base.html'%}
{%load custom_filters%}



{% block content %}
 <div>
 {%if jsondata%} 
  {%with jsondata|jsonify as data%}

 <h1>Title:{{data.Title}}</h1>
 <img src="{{data.Poster}}" alt="{{jsondata.Title}}"> 
 <p>Plot:{{data.Plot}}</p>
 <p>Year:{{data.Year}}</p>
 <div id="btn">
 {% if favoriteList %}


 {%include 'response_api/remove_btn_favoriteList.html' %}
 {%else%}
 {%include 'response_api/add_btn_favoriteList.html' %}

 {%endif%}
</div>
 {%endwith%}

{%else%}
 <h1> seach for your movies or series</h1>
 
{%endif%}
</div>
 {% endblock %}
 <script>
    function parse_JSON(Json_string){
     let json_object=null
     try
     {
        console.log(Json_string)
        json_object=JSON.parse(Json_string)
     }catch(e){
        return null
     }
     return json_object
    }
 </script>
