{%extends 'base.html'%}
{%load custom_filters%}



{% block content %}
 <div>
 {%if jsondata%} 
  {%with jsondata|jsonify as data%}

 <h1>Title:{{data.Title}}</h1>
 <img src="{{data.Poster}}" alt="{{data.Title}}"> 
 <p>Plot:{{data.Plot}}</p>
 <p>Year:{{data.Year}}</p>
 <div id="btn">
 {% if is_in_favoriteList %}
 {%include 'response_api/remove_btn_favoriteList.html' %}
 {%else%}
 {%include 'response_api/add_btn_favoriteList.html' %}

 {%endif%}
</div>
 {%endwith%}

{%else%}
 <h1> seach for your movies or series</h1>
 
{%endif%}
</div>
 {% endblock %}
